ALIPAY_PRIVATE_KEY=your_alipay_private_key
ALIPAY_APP_CERT_PATH=./certs/appPublicCert.crt
ALIPAY_PUBLIC_KEY_PATH=./certs/alipayPublicCert.crt
ALIPAY_ROOT_KEY_PATH=./certs/alipayRootCert.crt
SNOWFLAKE_NODE_ID=your_node_id
ALIPAY_NOTIFY_URL=http://domain.example/v1/pay/alipay/notify 
ALIPAY_RETURN_URL=http://domain.example/alipay/return_url
WECHAT_NOTIFY_URL=http://domain.example/v1/pay/wechat/notify 
WECHAT_RETURNa_URL=http://domain.example/wechat/return_url
